<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>My Todo App</title>
</head>

<body>
  <!-- Vue.js package -->
  <script src="https://unpkg.com/vue@next"></script>

  <div id="app">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <!-- Input(s) Group -->
        <!-- Title ( Text ) -->
        <div class="input-group my-4">
          <span class="input-group-text">Title</span>
          <input v-model="title" type="text" class="form-control" placeholder="type title">
        </div>
        <!-- Description ( Textarea ) -->
        <div class="input-group mb-4">
          <span class="input-group-text">Description</span>
          <textarea v-model="description" class="form-control"></textarea>
        </div>
        <!-- Severity ( Select ) -->
        <select v-model="severity" class="form-select mb-4">
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
        <!-- Add ( Button ) -->
        <div class="d-grid gap-2 col-6">
          <button @click="add" class="btn btn-secondary" type="button">Add</button>
        </div>
        <hr class="my-5">
        <!-- Todo List -->
        <h4 class="mb-4">Todo List</h4>
        <!-- Todo Card -->
        <div class="card mb-4" v-for="(todo, i) in todos" :key="i">
          <div class="card-header">
            <span class="badge" :class="[getClass(todo.severity)]">
              {{ todo.severity }}
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-text">{{ todo.description }}</p>
            <a @click="del(i)" class="btn btn-primary">Delete Item</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- App JavaScript file -->
  <script src="app.js"></script>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>